.h{
    grid-template-areas: header;
}

.b{
    grid-template-areas: body;
}


.workWindow{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: "header"
                        "body";
}