.button{
    grid-area: button;
    text-align: center;
}

.avathar{
    text-align: center;
    grid-area: avathar;
    border: 1px solid black;
}

.img{
    grid-area: img;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "nothing1 avathar nothing3"
                         "nothing4 button nothing5";
}

.name{
    grid-area: name;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info{
    grid-area: info;
    display: grid;
    grid-template-rows: 50px auto;
    border : 1px solid black;
    grid-template-areas: "name"
                          "userInfo";
}

.body1{
    grid-area: body1;
    display: grid;
    grid-template-columns: auto 0.1fr 0.8fr;
    grid-template-areas: "img nothing info";
}


.body2{
    grid-area: body2;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "liked"
                         "continue"
                         "expected";
}


.userPage {
    display: grid;
    margin-top:150px;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: "nothing1 body1 nothing3"
                         "nothing4 body2 nothing5";
}
