.filmBlocks {
    grid-area: filmBlocks;
}

.pageNumber {
    grid-area: pageNumber;
    text-align: center;
    align-self: center;
}

.btnNumbers{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto;
    position: absolute;
    margin-left: -2%;
    margin-top: -2px;
    visibility:hidden;
}

.btnCenter:hover .btnNumbers{
    visibility: visible;
    height: auto;
    width: auto;
    background-color: white;
    border:1px solid black;
    box-shadow: 0 0 20px darkmagenta;
    z-index: 3;
    transition: 1s;
}

.btnCenter {
    height: 50%;
    width: 15%;
    margin-left: 40%;
    text-align: center;
    border: 2px solid black;
    border-radius: 50%;
}

.btnNext {
    grid-area: nextBtn;
    text-align: left;
    align-self: left;
}

.btnBack {
    grid-area: backBtn;
    text-align: right;
    align-self: right;
}

.btnLeft, .btnRight {
    border: 0px;
    background-color: black;
    color: white;
}

.btnLeft, .btnRight {
    height: 120%;
}

.navigateBtn {
    background-color: white;
    grid-area: navigateBtn;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-areas: "backBtn pageNumber nextBtn";
}

.topLowBtn{
    text-align: center;
    align-self: center;
    position: absolute;
    position: fixed;
    bottom:5%;
    height: 15%;
    width: 15%;
    background-color: #E3DFDF;
    border: 0px;
    cursor: pointer;
    outline: 0 !important;
}

.body {
    margin-top: 10%;
    display: grid;
    margin-left: 40%;
    height: auto;
    width: 55%;
    grid-template-rows: auto 25px;
    grid-template-areas: "filmBlocks" "navigateBtn";
}

.film_block_link {
    text-decoration: none;
}

.topBtnContenet{
    transform: rotate(45deg);
    height: 25px; 
    width: 5px;
    background-color: black;
    position: relative; 
}

.topBtnContenet:after {
    content: "";
    height: 5px; 
    width: 25px;
    left: 6%;
    background-color: black;
    position: absolute;
}

.content{
    margin-left:45%
}