.item_film_name {
    grid-area: film_name;
    border: 2px solid black;
    text-align: center;
    font-size: 35px;
}

.image {
    grid-area: image;
    border: 2px solid black;
    text-align: center;
    font-size: 35px;
}

.text {
    grid-area: info;
    border: 2px solid black;
    text-align: center;
    font-size: 35px;
}

.item_film_info {
    grid-area: film_info;
    display: grid;
    grid-template-columns: repeat(auto-fit, auto);
    grid-template-rows: 100px 100px;
    grid-template-areas: 
    "image info"
}

.container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 45px 1000px 50px;
    grid-template-areas: 
    "left film_name right"
    "left1 film_info right1";
}

