.film_block_image{
    grid-area: film_block_image;
    text-align: center;
    align-self: center;
    
    text-decoration: none;
}

.film_image {
    
    text-decoration: none;
    height: 200px;
    width: 190px;
}

.film_block_text_name_name  {
    
    text-decoration: none;
    color : white;
}

.film_block_text_name{
    
    text-decoration: none;
    grid-area: film_block_text_name;
    align-self: center;
    text-align: center;
}

.film_block_text_text{
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 9;
    -webkit-line-clamp: 9;
    line-clamp: 9;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    font-size: 15px;
    line-height: 22px;
    text-decoration: none;
    color : white;
}


.film_block_text_info{
    text-overflow: ellipsis;
    line-clamp: 3;
    text-decoration: none;
    grid-area: film_block_text_info;
    text-align: justify;
}

.film_block_text{
    
    text-decoration: none;
    grid-area: film_block_text;
    display: grid;
    grid-template-rows: 20px 180px;
    grid-template-areas: 
    "film_block_text_name"
    "film_block_text_info";
}

.film_block_info{
    
    text-decoration: none;
    grid-area: film_block_info;
    display: grid;
    grid-template-columns: 1fr 2fr 0.1fr;
    grid-template-rows: 250px;
    grid-template-areas: 
    "film_block_image film_block_text nothing";
}


.filmBlock {
    
    text-decoration: none;
    border: 1px solid white;
    background-color: black;
    height : 250px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "film_block_info";
}

