#header {
    width : 100%;
    height: 30px;
    background-color: #0C0C0C;
}

.buttonIn {
    position: relative;
    float:left;
    top : 5%;
    left : 80%;
}

.buttonReg {
    position: relative;
    left : 16%;
}

.findPlace {
    margin-left : 35%;
    width: 20%;
}