.header_logo{
    background-color: blanchedalmond;
}

.header_menu{
    background-color: red;
}

.header {
    display: grid;
    height: 50px;
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 1fr;
    background-color: #0C0C0C;
    grid-template-areas: 
    "header_logo header_menu nothing1 header_find heder_buttons nothing2";
}

.buttonIn {
    position: absolute;
    float:left;
    top : 2%;
    right : auto;
    left : 77%;   
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    background-color: #0C0C0C;
}

.buttonIn:focus {
	outline: none;
}

.buttonIn:hover {
    color: #7CAAFA;
    border: 2px solid #7CAAFA;
    transition: 1s;
}

.buttonIn:not(:hover){
    transition: 1s;
}

.buttonReg {
    position: absolute;
    top : 2%;
    left : 80%;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    background-color: #0C0C0C;
}

.buttonReg:not(:hover){
    transition: 1s;
}

.buttonReg:focus {
    outline: none;
}

.buttonReg:hover {
    color: #7CAAFA;
    border: 2px solid #7CAAFA;
    transition: 1s;
}

.findPlace {
    position: absolute;
    top : 2%;
    margin-left : 50%;
    width: 20%;
}

.logo {
    height: 50px;
    width : 100px;
    background-color: white;
}